<mat-toolbar class="bottom" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>shopping_basket</mat-icon>
  </button>
  <span>Happy Cart</span>

  <!-- {{api.getStatusValue()}} -->
  
  <span class="example-spacer"></span>
  <div [hidden]="api.getStatusValue()"><button mat-raised-button color="accent" (click)="openDialog()">Add Product</button></div>
  <button routerLink="/login" (click)="logOutHide()" style="margin-left: 4px;" mat-raised-button color="warn" class="example-icon" aria-label="Example icon-button with share icon">Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <app-table #childView></app-table> -->

