.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  .bottom{
    margin-bottom: 40px;
  }
  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }
  .container{
    
    max-width: 1100px;
    margin:0 auto;
  }